{% extends 'base.html' %}
{% block title %}A Compliment{% endblock %}
{% block content %}
    
    Hi {{ person }}! I think you're 
    {% if compliments %}
           {% for compliment in compliments %}
           {{ compliment }}{#
       #}{% endfor %}!
   {% endif %}
    <br>
    <form action="/game"> 
        {{ person }}, do you want to play a game?
        <input type="radio" name="yes" value="yes">Yes
        <input type="radio" name="no" value="no">No
        <br>
        <input type="submit">
    </form>

{% endblock %}

