<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
   It is a little known fact that {{ color}} {{ noun }} have been watching for {{person }}.
   Only the people believed that it was just a matter of time before {{ adjective }} {{ noun }} invaded the city of {{ animal }}. Actually 

   {% if feelings %}
           {% for feeling in feelings %}
           {{ feeling }}{#
       #}{% endfor %}
   {% endif %} {{person}}, who was an person tried to warn the people, telling them their best defense was to hang {{animal}} from the trees and shoes on every door knob.

   Unfortunately no one believed and when {{noun}} attacked, only {{adjective}} the people survived.
</body>
</html>





