<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.

    So {{ animal }} is your favorite animal! Awesome!! 
    {% if feelings %}
        You are so:
            {% for feeling in feelings %}
            {{ feeling }}{#
        #}{% endfor %}.
    {% endif %}
</body>
</html>